<!-- <app-top-bar></app-top-bar> -->
<app-main-view></app-main-view>

<nav class="navbar navbar-expand fixed-bottom navbar-dark" style="background: #004eb9; border-radius: 10% 10% 0 0">
  <ul class="navbar-nav w-100">
    <li class="nav-item w-50 text-center" [routerLink]="['/dashboard']" routerLinkActive="active">
      <a class="nav-link" href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>
    <li class="nav-item w-50 text-center" [routerLink]="['/calendar']" routerLinkActive="active">
      <a class="nav-link" href="javascript:void(0)"
        ><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Calendar</a
      >
    </li>
  </ul>
</nav>
