<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLiveLabel">【賀欣】{{ job.Worker }}--{{ job.Job }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ref.close()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <p>負責工程師：{{ job.Worker }}</p>
  <p>儀器編號：{{ job.EQ_ID }}</p>
  <p>客戶名稱：{{ job.CustomerName }}</p>
  <p>所在廠區：{{ job.Unit_Name }}</p>
  <p>聯絡人：{{ job.ContactName }}</p>
  <p>
    電話：<a href="tel:{{ job.Contact_Content }}">{{ job.Contact_Content }}</a>
  </p>
  <p>E-Mail:basgw@mektec.com.tw</p>
  <p>
    地址：<a href="https://www.google.com/maps/search/{{ job.Address }}" target="_blank">{{ job.Address }}</a>
  </p>
  <p>派工日：{{ job.PlanDate }}</p>
  <p>型號：{{ job.EQ_Model }}</p>
  <p>序號：?</p>
  <p>主要構成：?</p>
  <p>保固日期：?</p>
  <p>合約類型：?</p>
  <p>合約到期日：?</p>
  <p>出廠日：{{ job.MfeDate }}</p>
  <p>注意事項：{{ job.Remarks }}</p>
  <p>派工原因：{{ job.Job }}</p>
  <p>祕書交待事項：?</p>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ref.close()">關閉</button>
</div> -->
