/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$as-theme-primary: mat-palette($mat-indigo);
$as-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$as-theme-warn: mat-palette($mat-red);
$as-theme: mat-light-theme($as-theme-primary, $as-theme-accent, $as-theme-warn);

@include mat-datepicker-theme($as-theme);
@include mat-form-field-theme($as-theme);
@include mat-input-theme($as-theme);

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.modal-backdrop {
  opacity: 0 !important;
  &.show {
    opacity: 0.5 !important;
  }
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$theme-colors: (
  'primary': #034298,
  'secondary': #e55a13,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
);

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/utilities';

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  // background: linear-gradient(to bottom, #66a5ff 0, #8525ee 100%);
  background-color: var(--primary);
}

body {
  transform: translate3d(0, 0, 0);
}
