<form [formGroup]="form" class="d-flex flex-column px-3 text-center w-100">
  <p class="h2 mb-0 text-white" *ngIf="currentTime$ | async as currentTIme">
    {{ currentTIme | date: 'yyyy-MM-dd' }}
    {{ weekDay[currentTIme | date: 'EEEE'] }}
  </p>

  <p class="fa-3x font-weight-bold text-white mb-0">
    {{ currentTime$ | async | date: 'HH:mm:ss' }}
  </p>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="align-items-center d-flex w-50">
        <i class="fa fa-clock-o fa-2x mr-3"></i>
        <div class="text-left">
          First time <br />
          <span class="font-weight-bold">首次打卡</span>
        </div>
      </div>
      <div
        class="w-50 h4 m-0"
        [class.font-weight-bold]="startTime"
        [class.text-black-50]="!startTime"
      >
        {{ startTime ? (startTime | date: 'HH:mm') : '尚未打卡' }}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="align-items-center d-flex w-50">
        <i class="fa fa-clock-o fa-2x mr-3"></i>
        <div class="text-left">
          Last time <br />
          <span class="font-weight-bold">最後打卡</span>
        </div>
      </div>
      <div class="w-50 h4 m-0" [class.font-weight-bold]="endTime" [class.text-black-50]="!endTime">
        {{ endTime ? (endTime | date: 'HH:mm') : '尚未打卡' }}
      </div>
    </li>
  </ul>

  <div class="form-group mt-3 text-left">
    <label for="remark" class="h5 text-white">備註：</label
    ><input id="remark" type="text" class="form-control" formControlName="remark" />
  </div>

  <div class="d-flex">
    <button class="btn btn-secondary rounded-pill w-100" type="button" (click)="onSubmit()">
      <span class="font-weight-bold h3">打卡</span>
    </button>
  </div>
</form>

<ng-template #editTimeTpl let-data>
  <div class="modal-header">
    <h5 class="modal-title">編輯下班打卡時間</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="editTimeDialogRef.close(false)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editTimeForm" class="text-center fa-2x">
      目前時間已過晚上7點，請問是否要申請加班？
      <mat-radio-group formControlName="overTime">
        <mat-radio-button [value]="true">是</mat-radio-button>
        <mat-radio-button [value]="false">否</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="!editTimeForm.get('overTime').value">
        <select formControlName="hour" name="hour">
          <option *ngFor="let hour of hours" [value]="hour">{{ hour | number: '2.0' }}</option>
        </select>
        <span>：</span>
        <select formControlName="minute" name="minute">
          <option *ngFor="let minute of minutes$ | async" [value]="minute">
            {{ minute | number: '2.0' }}
          </option>
        </select>
      </div>
    </form>

    <p *ngIf="editTimeForm.get('overTime').value" class="text-danger text-center mt-2 h4">
      * 加班申請仍需要主管進行審核。
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="editTimeDialogRef.close(true)">
      確定
    </button>
  </div>
</ng-template>
